   .hero-section {
    height: 100vh;
    background: url('/public/background.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensures the image covers the entire section */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif; /* Apply custom font */
  } 
  
  /* .hero-section {
    background: url('/public/background.jpg') no-repeat center center fixed;
    background-size: cover; 
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
    z-index: 1;
    
  }
  h1 .name {
    font-size: 4rem; /* Ensure the 'Vladyslav' name has the correct size */
    font-weight: 600; /* Bold font weight for the name */
    color: #fff; /* White color for 'Vladyslav' */
    display: inline-block; /* Make sure it stays inline with the typed text */
  }
  
  
  p {
    font-size: 2.2rem;
    margin-bottom: 20px;
    z-index: 1;
  }
  
  .cta-buttons {
    display: flex;
    gap: 20px;
    z-index: 1;
  }
  
  .cta-buttons button {
    background-color: #00adb5;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 56px;
    cursor: pointer;
    transition: all 0.3sease-in-out;
    font-size: x-large;
  }
  
  .cta-buttons button:hover {
    transform: scale(1.1);
    background-color: #00fff5;
  }
  